@model PracticaUno.Models.Contacts

@{
    ViewData["Title"] = "Details";
}

<br />
<h1 class="text-center">Contact details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           First name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First_name)
        </dd>
        <dt class = "col-sm-2">
           Last name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Last_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Customer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customers.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.contact_id" class="btn btn-outline-primary">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
