@model PracticaUno.Models.Products

@{
    ViewData["Title"] = "Details";
}
<br />
<h2 class="text-center">Product details</h2>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Product name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_name)
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Standard cost
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard_cost)
        </dd>
        <dt class = "col-sm-2">
            List price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.List_price)
        </dd>
        <dt class = "col-sm-2">
           Category
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Categories.category_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.product_id" class="btn btn-outline-primary">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
