@model PracticaUno.Models.Locations

@{
    ViewData["Title"] = "Details";
}

<br />
<h2 class="text-center">Location details</h2>
<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            Postal code
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postal_code)
        </dd>
        <dt class = "col-sm-2">
           City
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class = "col-sm-2">
          State
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class = "col-sm-2">
          Country
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Countries.country_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.location_id" class="btn btn-outline-primary">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
