@model IEnumerable<PracticaUno.Models.Customers>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1 class="text-center">Index</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<div class="container">
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
               Address
            </th>
            <th>
               Website
            </th>
            <th>
              Credit limit
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credit_limit)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.customer_id" class="btn btn-sm btn-outline-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.customer_id" class="btn btn-sm btn-outline-success">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.customer_id" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
